---
machine:
  install:
    disk: /dev/sda
    image: factory.talos.dev/nocloud-installer/5b22cce5228227e19741a198d4632964f5efc15120df12fbe628d2818d194bd0:v1.12.6
  network:
    hostname: controlplane-2.ergho.org
  nodeLabels:
    topology.kubernetes.io/zone: m
  type: controlplane

---
apiVersion: v1alpha1
kind: BridgeConfig
name: br0
links:
  - eth0
stp:
  enabled: true

---
apiVersion: v1alpha1
kind: VLANConfig
name: br0.90
vlanID: 90
parent: br0
addresses:
  - address: 192.168.90.40/24
routes:
  - gateway: 192.168.90.1

---
apiVersion: v1alpha1
kind: VLANConfig
name: br0.200
vlanID: 200
parent: br0

---
apiVersion: v1alpha1
kind: ResolverConfig
nameservers:
  - address: 192.168.90.5
searchDomains:
  domains:
    - ergho.org

---
apiVersion: v1alpha1
kind: VolumeConfig
name: EPHEMERAL
provisioning:
  diskSelector:
    match: system_disk
  minSize: 2GiB
  maxSize: 200GiB
  grow: false
